// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(mat.$blue-palette);
$client-accent: mat.define-palette(mat.$cyan-palette);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.define-dark-theme((color: (primary: $client-primary,
                accent: $client-accent,
                warn: $client-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
    display: flex !important;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.flex1 {
    flex: 1;
}

.fill {
    flex: 1;
}

a:link {
    color: mat.get-color-from-palette($client-primary, default);
    text-decoration: none;
}

a:visited {
    color: mat.get-color-from-palette($client-accent, default);
    text-decoration: none;
}

a:hover span {
    text-decoration: underline;
}

a {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.mat-icon.inline {
    font-size: 1em;
    padding-right: .2em;
}